@charset "UTF-8";
:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}
body {
  --page-background: #404046;
  background-color: var(--page-background);
}
// // 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';



// // 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// // 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// // 5. Components
@import
  'components/button';

// // 6. Page-specific styles
@import
  'pages/home',
  'pages/category',
  'pages/brand';
  // ,
  // 'pages/_category'

// // 7. Themes
@import
  'themes/default';
  
